<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  {{> staticResources }}
</head>
<body class="bg">
<div class="box">
  <h1>Вход в личный кабинет</h1>
  <form action="">
    <input class="inp" type="text" placeholder="Логин">
    <input class="inp" type="password" placeholder="Пароль">
    <hr style="border-color: rgba(0,0,0, 0)">
    <input class="btn" type="button" value="Вход">
  </form>
</div>
</body>