<!DOCTYPE html>
<html lang="ru">
<footer>
  <div class="ad">
    <img class="ad-img" src="../images/ad.png">
  </div>
  <p>Since 2022</p>
  <div class="loadInformation" id="loadInformation">Время загрузки страницы: {{ responseTime }} + </div>
</footer>