<!DOCTYPE html>
<html lang="ru">
<header>
  <nav class="top-menu">
    <a href="index"><img class="navbar-logo" src="../images/logo.png"></a>
    <img class="name" src="../images/logo_name.png">
    <ul class="menu-main">
      <li><a class="navbar-button" href="index">О нас</a></li>
      <li><a class="navbar-button" href="articles">Статьи</a></li>
      <li><a class="navbar-button" href="shop">Магазин</a></li>
      <li><a class="navbar-button" href="reviews">Отзывы</a> </li>
      <li class="navbar-button">
        <a href="signIn" target="_self">
          <button type="submit" id="signInButton">Войти</button>
        </a>
      </li>
      <li><p id="username" style="display: none;"></p></li>
    </ul>
  </nav>
</header>