<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="wine, shop, blog, wine news">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviews</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  {{> staticResources }}
</head>
<body>
<nav class="top-menu">
  <a href="index"><img class="navbar-logo" src="../images/logo.png"></a>
  <img class="name" src="../images/logo_name.png">
  <ul class="menu-main">
    <li class="navbar-button">
      <a href="signIn" target="_self">
        <button type="submit" id="signInButton">Войти</button>
      </a>
    </li>
  </ul>
</nav>
<article>
  <singIn class="bg">
    <div class="box">
      <h1>Регистрация</h1>
      <form action="">
        <input class="inp" type="text" id="signUpName" placeholder="Имя">
        <input class="inp" type="text" id="signUpMail" placeholder="Почта">
        <input class="inp" type="password" id="signUpPassword" placeholder="Пароль">
        <hr style="border-color: rgba(0,0,0, 0)">
        <input class="btn" onclick="signUpOnClick()" type="button" value="Sign up">
      </form>
    </div>
  </singIn>
</article>
{{> footer }}
{{ supertikensInit }}
</body>
</html>
