<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Georgian wine</title>
  {{> staticResources }}
</head>
<body>
{{> navigation }}
<h2 style="margin-top: 60px;">Виноделие Грузии</h2>
<img class="article-img" src="../images/field-Georgia.jpg">
<p>«Грузинское вино будет существовать до тех пор, пока жив хотя бы один грузин».
  Так говорят они сами. Вино – не просто напиток для сопровождения трапезы.
  Это вещь более сакральная, неразрывно связанная с историей и традициями страны,
  вся жизнь которой происходит вокруг вина. Рецепты его изготовления – в крови у каждого грузина.
  Как и уважение к процессу, к лозе, марани (винодельня, место, где вино рождается и хранится)
  и ко всем, кто ухаживает за вином и ценит все, что с ним связано. В марани издавна проводили обряды,
  зажигали свечи, читали молитвы. Во многих местах эти традиции сохранились до сих пор.</p>
<h3>Легенды и особая любовь</h3>
<p>Грузинские воины брали с собой на войну побег виноградной лозы, и если воин погибал, на этом месте вырастал виноград.
  Говорят, что именно с этой легендой связано изображение ветки винограда но форме сборной Грузии по регби.</p>
<p>Изображение лозы на древних храмах, лоза в орнаментах. И даже появление христианства в начале IV века тоже не обошлось
  без нее. Святая Нина приходит в Грузию с крестом из виноградной лозы, переплетенной локоном ее волос. И думаю, этот выбор
  был сделан совсем неслучайно. Насколько близка и понятна каждому была эта тема уже в те времена!</p>
<p>А знаменитое песнопение «Шен хар венахи», гимн Богородице: «Ты еси Лоза виноградная, только зацветшая, Ветвь нежная, в Эдеме растущая».</p>
<p>И совершенно уникальное явление в грузинской культуре, подтверждающее многовековую историю виноделия и винопития, –
  традиции грузинских застолий и великое искусство тамады.</p>
<p>Каждый житель страны так или иначе связан с виноделием. Делает вино сам или этим занимаются родственники, выращивает
  свой виноград или покупает. Все это не зависит от места проживания и наличия марани. А подсчитать внутреннее потребление
  вина в стране не представляется возможным.</p>
{{> footer }}
</body>
</html>