<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="wine, shop, blog, wine news">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Winely</title>
  {{> staticResources }}
</head>
<body>
<header>
  <nav class="top-menu">
    <a href="index"><img class="navbar-logo" src="../images/logo.png"></a>
    <img class="name" src="../images/logo_name.png">
    <ul class="menu-main">
      <li><a class="navbar-button" href="index">О нас</a></li>
      <li><a class="navbar-button" href="articles">Статьи</a></li>
      <li><a class="navbar-button" href="shop">Магазин</a></li>
      <li><a class="navbar-button" href="reviews">Отзывы</a> </li>
      <li class="navbar-button">
        <a href="signIn" target="_self">
          <button type="submit" id="signInButton">Войти</button>
        </a>
      </li>
      <li><p id="loggedInUser" style="display: none;"></p></li>
    </ul>
  </nav>
</header>
<main>
  <article>
    <section class="about-section">
      <p><a name="about us"></a></p>
      <h2 class="menu-section">О нас</h2>
      <p><b>Winely</b>
        - это уникальный винный блог-магазин, который объединяет нашу любовь к вину,
        культуре вина, образованию в области вина и винным путешествиям в полезной,
        развлекательной и информативной форме. Мы стремимся дать вам представление о
        ваших любимых сортах винограда и регионах, держать вас в курсе последних винных
        тенденций и сделать ваши винные приключения максимально полезными. Вино предназначено
        для всех. Оно должно быть веселым, непринужденным и не пугающим.</p>
      <p class="phrase">Пейте вино и будете здоровы!</p>
    </section>
    <section class="article-section">
      <p><a name="articles"></a></p>
      <h2 class="menu-section">Статьи</h2>
      <blockquote>Нет ничего лучше, чем старая дружба и старое вино.<cite> - Английская пословица</cite></blockquote>
      <h3><a href="Georgian-wine">Виноделие Грузии</a></h3>
      <div class="article-list">
        <p class="article">«Грузинское вино будет существовать до тех пор, пока жив хотя бы один грузин»...
          <a class="continue-reading" href="Georgian-wine">читать далее</a></p>
        <h3><a href="Slovakian-wine">Виноделие Словакии</a></h3>
        <p class="article">Как и в любой другой части мира, выбор сортов продиктован климатом и традициями.
          До начала глобального потепления...<a class="continue-reading" href="Slovakian-wine">читать далее</a></p>
      </div>
      <!--img class="background-img" src="images/barrels.jpg"-->
    </section>
    <section class="shop-section">
      <p><a name="shop"></a></p>
      <h2 class="menu-section">Магазин</h2>
      <!--img class="background-img" src="images/bottles.jpg"-->
      <div class="gallery-wrapper">
        <div class="gallery">
          <div class="gallery-item"><img src="../images/winebottle3.jpg"></div>
          <div class="gallery-item"><img src="../images/winebottles.jpg"></div>
          <div class="gallery-item"><img src="../images/winebottle1.jpg"></div>
          <div class="gallery-item"><img src="../images/winebottle2.jpg"></div>
        </div>
      </div>
      Лучшие вина:
      <table class="wine-table">
        <thead>
        <tr>
          <th>Тип вина</th>
          <th>Красное вино</th>
          <th>Белое вино</th>
          <th>Розовое вино</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="wine-type">Сухое</td>
          <td>"Astrale" Rosso, Италия</td>
          <td>Brancott Estate,
            Marlborough Sauvignon Blanc, Новая Зеландия</td>
          <td>Rignana, Sangiovese Rosato, Toscana IGT, Италия</td>
        </tr>
        <tr>
          <td class="wine-type">П/с</td>
          <td>Cielo e Terra, "Primasole" Primitivo, Puglia IGT, Италия</td>
          <td>"Toucas", Vinho Verde DOC, Португалия</td>
          <td>Mare Alta vinho verde Rose, Португалия</td>
        </tr>
        <tr>
          <td class="wine-type">П/сл</td>
          <td>Vizconde de Begijar, Испания</td>
          <td>Santa Luz Alba Moscato, Чили</td>
          <td>Sanprimo Rosato Puglia, Италия</td>
        </tr>
        <tr>
          <td class="wine-type">Сладкое</td>
          <td>Nectar Pedro Ximenez, Испания</td>
          <td>Concha y Toro, "Frontera" Moscato, Чили</td>
          <td>"Tussock Jumper" Moscato Rose, Испания</td>
        </tr>
        </tbody>
      </table>
      <h4><a class="to" href="ToBuyList">Добавьте вина в свой список покупок!</a></h4>
    </section>
  </article>
</main>
{{> footer }}
</body>
</html>