<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="wine, shop, blog, wine news">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Management</title>
  {{> staticResources }}
</head>
<body>
{{> navigation }}
<main>

</main>
{{> footer }}
</body>
</html>