<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slovakian wine</title>
  {{> staticResources }}
</head>
<body>
{{> navigation }}
<h2 style="margin-top: 60px;">Виноделие Словакии</h2>
<img class="article-img" src="../images/field-Slovakia.jpg">
<h3>Сорта винограда</h3>
<p>Как и в любой другой части мира, выбор сортов продиктован климатом и традициями. До начала глобального потепления климат
  в этих краях считался в высшей степени рискованным для виноградарства, сегодня природа благоволит местным виноделам,
  но все же неудивительно, что в этих широтах преобладают белые сорта. Большая их часть характерна для Центральной и
  Восточной Европы, Германии, но встречаются и западноевропейские (международные) сорта, а также сорта словацкой и венгерской
  селекции, адаптированные к суровым условиям.</p>
<p>Лидером по площади посадок является грюнер вельтлинер (местное название – Veltlínske zelené), далее следует вельшрислинг
  (Rizling vlašský), блауфранкиш (Frankovka modrá), мюллер-тургау, сенкт лаурент (Svätovavrinecké), рейнский рислинг,
  пино блан (Rulandské biele) и другие.</p>
<p>Из «специалитетов» стоит отметить красный сорт дунай (Dunaj), одним из родителей которого является кросс муската буше и португизера,
  другим – сенкт лаурент; белый сорт девин (Devín), кросс ротер траминера и фрю ротер вельтлинера (он же – красная мальвазия);
  роза (Rosa), очень необычный сорт, одним из родителей является кросс пикпуля и франковки, другим – траминер; красный сорт хрон (Hron),
  кросс французских сортов Castets и Abouriou; бреслава (Breslava), ароматичный белый сорт, одним из родителей является кросс розового
  шассла и ротер траминера, другим – Санта-Мария-д'Алькантара), и целый ряд других.</p>
{{> footer }}
</body>
</html>