<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="wine, shop, blog, wine news">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-buy list</title>
  {{> staticResources }}
</head>
<body>
{{> navigation }}
<article>
  <form class="form">
    <label class="form__input__wine-label">Какое вино хотите добавить?</label>
    <input name="wine" type="text" size="30" placeholder="Название">
    <input type="submit" class="submit__button">
  </form>
  <button class="clear__button" onclick="clearStorage()">Delete all</button>
  <div class="form__toBuy">
    <template id="template">
      <div class="toBuy-list__item">
        <input type="checkbox" class="checkbox">
        <span></span>
        <button class="delete__button">Delete</button>
      </div>
    </template>
  </div>
</article>
{{> footer }}
</body>
</html>