main {
    padding: 0 0.5rem;
}

.product-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 100%;
}

.product-card a {
    color: #bfbebb;;
    text-decoration: none;
    line-height: 1.25;
}

.product-card img {
    display: block;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

.product-card h3 {
    font-weight: bold;
}

.product-card span {
    display: block;
}


@media (min-width: 768px) {
    main {
        padding: 0 1rem;
    }

    .product-grid {
        grid-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 960px;
        margin: 0 auto;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}